.mifondo {
    background-image: url("../img/bck4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
    
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(233, 241, 243);
    color: black;
    text-align: center;
    }