{% extends 'base.html' %}

{% block title %} List {% endblock %}

{%block navbar%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../static/img/icono2.png" alt="" width="30" height="30" class="d-inline-block align-top">MY CRYPTO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Movements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="compra">Purchase</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="status">Status</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{%endblock%}

{% block formato %}
<div class="row">
    <div class="col-md-5">
        <h1 class="shadow p-2 mb-5 bg-white rounded" class="text-body">MOVEMENTS</h1>
    </div>
</div>
<div style= "background-color: whitesmoke; padding: 20px; border-radius: 15px;">
{% if datos|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">From</th>
            <th scope="col">Quantity</th>
            <th scope="col">To</th>
            <th scope="col">Quantity</th>
            <th scope="col">P.U.</th>
        </tr>
    </thead>
    {% for registro in datos %}
    <tbody>
        <tr>
            <td>{{registro['date']}}</td>
            <td>{{registro['time'][0:8]}}</td>
            <td>{{registro['from_curency']}}</td>
            <td>{{"{:,.2f}".format(registro['from_cuantity'])}}</td>
            <td>{{registro['to_curency']}}</td>
            <td>{{"{:,.2f}".format(registro['to_quantity'])}}</td>
            <td>{{"{:,.2f}".format(registro['preciounitario'])}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% else %}
<p>You don´t have any movements yet</p>

{% endif %}

<a href="status" class="btn btn-primary" role="button">Status</a>
<a href="compra" class="btn btn-primary" role="button">+</a>

{% endblock %}