{% extends 'base.html' %}

{% block title %} Purchase {% endblock %}
{%block breadcrumb%}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item" aria-current="page">Compra</li>
    <li class="breadcrumb-item"><a href="status">Status</a></li>
    </ol>
</nav>
{%endblock%}

{% block formato %}
<h1>COMPRA DE CRIPTOS</h1>

<form action="compra" method="post">
    {{ form.csrf }}
    <div class="row">
        <div class="col-md-5">
            <!--
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name?">
            <br>
            -->
            <!-- A cambiar -->
            <fieldset class="form-group border p-3">
                <legend class="w-auto px-2">Moneda/Cantidad a cambiar</legend>
                <div class="form-group">
                    {{ form.MonedaFrom.label }}
                    {%if validation%}
                    {% if validCoin %}
                    {{form.MonedaFrom(class="form-control firstname is-valid") }}
                    {%else%}
                    {{form.MonedaFrom(class="form-control firstname is-invalid") }}
                    {%endif%}
                    {%else%}
                    {{form.MonedaFrom(class="form-control firstname") }}
                    {% endif%}
                </div>
                <div>
                    {{ form.CantidadFrom.label }}
                    {%if validation%}
                    {% if validAmount %}
                    {{ form.CantidadFrom(min="0",max="10",class="form-control firstname is-valid",
                    placeholder="Cantidad que desea cambiar")}}
                    {%else%}
                    {{ form.CantidadFrom(min="0",max="10",class="form-control firstname is-invalid",
                    placeholder="Cantidad que desea cambiar")}}
                    {%endif%}
                    {%else%}
                    {{ form.CantidadFrom(min="0",max="10",class="form-control firstname",
                    placeholder="Cantidad que desea cambiar")}}
                    {% endif%}
                    
                </div>

            </fieldset>
        </div>
        <div class="col-md-1 d-flex justify-content-center">

            <div class="align-self-center">
                
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
                </svg>
            </div>
        </div>
        <div class="col-md-5">
            <fieldset class="form-group border p-3">

                <!-- A lo que cambio -->

                <legend class="w-auto px-2">Moneda/Cantidad requerida</legend>
                <div class="d-flex flex-row">
                    <div class="col-md-10">
                        <div class="form-group">
                            {{ form.MonedaTo.label }}
                            {%if validation%}
                            {% if validTo %}
                            {{form.MonedaTo(class="form-control firstname is-valid") }}
                            {%else%}
                            {{form.MonedaTo(class="form-control firstname is-invalid") }}
                            {%endif%}
                            {%else%}
                            {{form.MonedaTo(class="form-control firstname") }}
                            {% endif%}
                        </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                        <div class="align-self-end">
                            <button type="submit" class="btn btn-primary btn-customized"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-calculator"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
                                    <path
                                        d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-4z" />
                                </svg></button>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            {{ form.CantidadTo.label }}
                            {{ form.CantidadTo(class="form-control", placeholder="Readonly input here...",readonly=true)}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            {{ form.precioUnitario.label }}
                            {{ form.precioUnitario(class="form-control", placeholder="Readonly input here...",readonly=true)}}
                        </div>

                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- Submit Button  -->
    <div class="form-group row">
        <div class="col">
            {%if correct%}
            {{ form.Aceptar(class="btn btn-primary btn-customized visible") }}
            {%else%}
            {{ form.Aceptar(class="btn btn-primary btn-customized invisible") }}
            {%endif%}
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-5">
<table class="table">
    <thead>
      <tr>

        <th scope="col">Coin</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
{% for coin in wallet %}
<tr>
    <td>{{ coin["moneda"] }}</td>
    {%if coin["moneda"] == "EUR" %}
    <td> &#x221e</td>
    {%else%}
    <td>{{ coin["disponible"]}}</td>
    {%endif%}
  </tr>
{% endfor %}
</tbody>
    </div>
</div>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for message in messages %}
{% if "Correcto" in message[1]: %}
    <div class="alert alert-info">
    <strong>Success! </strong> {{ message[1] }}
    </div>
{% endif %}


    <div class="alert alert-danger">
    <strong> Error! </strong>{{ message[1] }}
    </div>

{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}